            body{
                font-family: Verdana, Geneva, sans-serif;
            }
            header{
                font-size: 3em;
                font-weight: bold;
                color: pink;
            }
            nav {
                background: rgba(128,0,128,0.8);
                display: flex;
                padding: 10px;
                border-radius: 10px;
            }
            nav header{
                display: flex;
                align-items: center;
                flex: 1;
            }
            nav ul{
                list-style-image: none;
            }
            nav li{
                display: inline-block;
                padding: 0 10px;
            }
            nav a{
                text-decoration: none;
                color: pink;
                font-size: 1.5em;
            }
            draw {
                background-image: url("/Pokeball.ico");
                background-size: cover;
            }